Flask
gunicorn
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
nltk
scikit-learn
pandas
beautifulsoup4
jsonschema
tmdbv3api
lxml
urllib3
requests
pickleshare
email-validator
blinker
certifi
cffi
click
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Pillow
pycparser
six
SQLAlchemy
Werkzeug
WTForms