Flask
gunicorn
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
nltk
scikit-learn
pandas
beautifulsoup4
jsonschema
tmdbv3api
lxml
urllib3
requests
pickleshare
Email-Validator
click
os
secrets
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy
Werkzeug
WTForms