* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(251, 250, 250);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: rgb(18, 17, 17);
    width: 250px;
    height: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card h3 {
    color: white;
    padding: 10px;
}

.card p {
    color: white;
    font-family: courier;
    padding: 10px;
}

.card:hover {
    background-color: rgb(149, 96, 96);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.column {
    float: left;
    width: 20%;
    margin-left: 150px;
    padding: 5px;
}

.row::after {
    content: "";
    display: table;
    clear:both;
}